.result-modal-container,
.leaderboard-modal-container,
.how-to-play-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424d9;
}

.result-modal-container .modal,
.leaderboard-modal-container .modal,
.how-to-play-modal-container .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  border: transparent;
  background-color: #2c2c2c;
}

.result-modal-container .result,
.how-to-play-modal-container .rules,
.leaderboard-modal-container .high-score-list {
  font-size: 1.6rem;
  color: #ffffffde;
}

.leaderboard-modal-container .high-score-list {
  list-style: none;
  padding: 0;
}

.result-modal-container button,
.how-to-play-modal-container button,
.leaderboard-modal-container button {
  border-radius: 4px;
  padding: 8px;
  border: transparent;
  cursor: pointer;
  background-color: #383838;
  color: #ffffffde;
  font-size: 1.2rem;
}

.result-modal-container button:hover,
.how-to-play-modal-container button:hover,
.leaderboard-modal-container button:hover {
  opacity: 80%;
}
